---
import DefaultLayout from "../../../layouts/DefaultLayout.astro";
import { getCollection } from "astro:content";
import BlogPostCard from "@/components/BlogPostCard.astro";

const page = +(Astro.params.page || 0);

if (page <= 0) return Astro.redirect("/episode/all/1");

const posts = await getCollection(
  "blog",
  (post) => post.data.published === true || import.meta.env.DEV
);

const pageSize = 10;

const pageEntries = posts.slice((page - 1) * pageSize, page * pageSize);
const nextPageEntries = posts.slice(page * pageSize, (page + 1) * pageSize);

if (!pageEntries.length) return Astro.redirect("/404");

const totalPages = Math.ceil(posts.length / pageSize);
const hasFirst = page !== 1;
const hasPrevious = page > 1;
const hasNext = nextPageEntries.length > 0;
const hasLast = page !== totalPages;
---

<DefaultLayout>
  <h2 class="font-josefin text-xl text-center text-stone-400">
    Page {page} of {totalPages}
  </h2>
  <ul class="flex flex-col gap-4 pt-8">
    {pageEntries?.map((post) => <BlogPostCard post={post} />)}
  </ul>
  <div class="flex justify-around w-[300px] m-auto">
    <a
      href="/blog/all/1"
      class="font-josefin text-stone-400 hover:text-stone-300 hover:underline"
    >
      Latest
    </a>
    <a
      href={`/blog/all/${page - 1 || 1}`}
      class="font-josefin text-stone-400 hover:text-stone-300 hover:underline"
    >
      Previous
    </a>
    <a
      href={`/blog/all/${page + 1 > totalPages ? totalPages : page + 1}`}
      class="font-josefin text-stone-400 hover:text-stone-300 hover:underline"
    >
      Next
    </a>
    <a
      href={`/blog/all/${totalPages}`}
      class="font-josefin text-stone-400 hover:text-stone-300 hover:underline"
    >
      Oldest
    </a>
  </div>
</DefaultLayout>
