---
import Lindsay from "@/components/Lindsay.astro";
import DefaultLayout from "@/layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <article class="prose dark:prose-dark m-auto w-11/12 md:w-full pb-4">
    <h1 class="text-center text-2xl md:text-4xl font-josefin">Welcome to the Human Side of Dev</h1>
    <p>
      There's a lot to talk about in software development. New frameworks, new
      techniques, new methods of delivering apps to users. New tools we need to
      learn in order to keep on top of our profession.
    </p>

    <p>
      But there's more to being a developer than knowing how to code. There's a
      human aspect to software development, a story that each of us brings with
      us to the code. A reason we picked up coding, and why we keep doing it.
    </p>

    <p>
      Each individual has a unique perspective on life, and that influences how
      they approach software development. We've all had struggles and
      difficulties, as well as triumphs. From the freshly minted junior
      developer to the most seasoned architect, our personal journeys shape how
      we write software, and what kinds of software we write.
    </p>

    <p>
      I think it's important to consider the people that write the applications
      we use. Who are they? What do they think? What have they been through to
      be where they are? What are they still struggling with?
    </p>

    <p>I think that story is worth talking about.</p>
  </article>
  <hr class="w-11/12 m-auto" />
  <Lindsay />
</DefaultLayout>
