---

---

<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Human Side of Dev</title>
</head>

<body>
	<div class="flex flex-col items-center">
		<h1 class="text-6xl font-fira tracking-widest text-slate-500 py-6 smallcaps">
			Human Side of Dev
		</h1>
		<div class="bg-white shadow-md rounded-lg p-6 w-2/3 prose lg:prose-xl">
			<p>There's a lot to talk about in software development. New frameworks, new techniques, new methods of delivering
				apps to users. New tools we need to learn in order to keep on top of our profession.</p>
			<p>But there's more to being a developer than knowing how to code. There's a human aspect to software development,
				a story that each of us brings with us to the code. A reason we picked up coding, and why we keep doing it.</p>
			<p>Each individual has a unique perspective on life, and that influences how they approach software development.
				We've all had struggles and difficulties, as well as triumphs. From the freshly minted junior developer to the
				most seasoned architect, our personal journeys shape how we write software, and what kinds of software we write.
			</p>
			<p>I think it's important to consider the people that write the applications we use. Who are they? What do they
				think? What have they been through to be where they are? What are they still struggling with?</p>
			<p>I think that story is worth talking about.</p>
		</div>
	</div>
</body>

</html>