---
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import Episode from "@/components/Episode.astro";
import Lindsay from "@/components/Lindsay.astro";
import { getEpisodes } from "@/content/episode";
import BlogPostCard from "@/components/BlogPostCard.astro";
import ConvertKit from "@/components/ConvertKit.astro";
import { allPosts } from "@/content/blog";

const episodesOnHomePage = 3;

const latestPodcasts = await getEpisodes(episodesOnHomePage);
const latestPosts = await allPosts(episodesOnHomePage);
---

<DefaultLayout>
  <Lindsay />
  <hr class="my-4 w-11/12 mx-auto" />
  <h2 class="font-josefin text-3xl text-center">Latest Episodes</h2>
  {
    latestPodcasts?.map((episode: any) => (
      <Episode episode={episode} showSummary={false} />
    ))
  }
  <hr class="my-4 w-11/12 mx-auto" />
  <h2 class="font-josefin text-3xl text-center">Latest Posts</h2>
  <ul class="flex flex-col gap-4 pt-8">
    {latestPosts?.map((post) => <BlogPostCard post={post} />)}
  </ul>
  <ConvertKit />
</DefaultLayout>
