---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Episode from '../components/Episode.astro'
import { getEpisodes } from '../api/rss';

const { entries } = await getEpisodes()

---
<DefaultLayout>
	<hr class="my-4" />
	<h2 class="font-josefin text-3xl text-center">Latest Episodes</h2>
	{entries?.map((episode: any) => 
		<Episode episode={episode} showSummary={false} />
	)}
</DefaultLayout>